<h1>Crews anzeigen</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Beschreibung</th>
    <th>Homepage</th>
    <th>Landesverband</th>
  </tr>

<% for crew in @crews %>
  <tr>
    <td><%=h crew.name %></td>
    <td><%=h crew.decription %></td>
    <td><%= link_to crew.homepage, crew.homepage %></td>
    <td>  <%= if crew.landesverband
  link_to crew.landesverband.name, crew.landesverband 
  end %></td>
    <td><%= link_to 'Anzeigen', crew %></td>
    <td><%= link_to 'Bearbeiten', edit_crew_path(crew) %></td>
    <td><%= link_to 'Löschen', crew, :confirm => 'Bist du sicher?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neue Crew anlegen', new_crew_path %>
