<h1>Listing crews</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Decription</th>
    <th>Homepage</th>
    <th>Landesverband</th>
  </tr>

<% for crew in @crews %>
  <tr>
    <td><%=h crew.name %></td>
    <td><%=h crew.decription %></td>
    <td><%=h crew.homepage %></td>
    <td><%=h crew.landesverband %></td>
    <td><%= link_to 'Show', crew %></td>
    <td><%= link_to 'Edit', edit_crew_path(crew) %></td>
    <td><%= link_to 'Destroy', crew, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New crew', new_crew_path %>
