<p>
  <b>Name:</b>
  <%=h @crew.name %>
</p>

<p>
  <b>Beschreibung:</b>
  <%=h @crew.decription %>
</p>

<p>
  <b>Homepage:</b>
  <%= link_to @crew.homepage, @crew.homepage %>
</p>

<p>
  <b>Landesverband:</b>
  <%= link_to @crew.landesverband.name, @crew.landesverband %>
</p>
<p>
  <b>Nodes:</b>
  <% for node in @crew.nodes %>
  <%= link_to node.name, node %>
  <% end %>
</p>

<%= link_to 'Bearbeiten', edit_crew_path(@crew) %> |
<%= link_to 'Zurück', crews_path %>
