<h3>Länder anzeigen</h3>

<table width='100%'>
  <tr>
    <th>Name</th>
  </tr>

<% for land in @lands %>
  <tr>
    <td><%=h land.name %></td>
    <td><%= link_to 'Anzeigen', land %></td>
    <td><%= link_to 'Bearbeiten', edit_land_path(land) %></td>
    <td><%= link_to 'Löschen', land, :confirm => 'Bist du sicher?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Land erstellen', new_land_path %>
