<h3>Land erstellen</h3>

<% form_for(@land) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Erstellen" %>
  </p>
<% end %>

<%= link_to 'Zur Übersicht', lands_path %>
