<p>
  <b>Name:</b>
  <%=h @land.name %>
</p>

<p>
  <b>Beschreibung:</b>
  <%=h @land.description %>
</p>
<p>
  <b>Parteien:</b>
  <% for partei in @land.parteis %>
  <%= link_to partei.name, partei %>
  <% end %>
</p>


<%= link_to 'Bearbeiten', edit_land_path(@land) %> |
<%= link_to 'Zur Übersicht', lands_path %>
