<%= f.error_messages %>
 
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_area :uci %>
</p>
 
<div id="photos">
  <%= render :partial => 'photo', :collection => @node.photos %>
</div>
 
<%= link_to_function "Add Photo" do |page|
  page.insert_html :bottom, :photos, :partial => 'photo', :object => Photo.new
end %>
