<h1>Knoten anzeigen</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Rev</th>
    <th>Benutzer</th>
    <th>Nachbarn</th>
    <th>Crew</th>
    <th>Landesverband</th>


    <th>Punkte</th>
  </tr>

<% for node in @nodes %>
  <tr>
    <td><%= link_to node.name, node %></td>
    <td><%=h node.rev %></td>
    <td><%=h node.clients_count %></td>
    <td><%=h node.neighboors_count %></td>
    <% if node.landesverband %>
   	<td><%= link_to node.crew.name, node.crew %></td>
    <td><%= link_to node.landesverband.name, node.landesverband %></td>

    <% else %>
    <td>unbekannt</td>
    <td>unbekannt</td>
    <td>unbekannt</td>
    <% end %>

    
    <td><%=h    node.score %></td>
    <td><%= link_to 'Löschen', node, :confirm => 'Bist du sicher?', :method => :delete %></td>
  </tr>
<% end %>
</table>


