<p>
  <b>Name:</b>
  <%=h @node.name %>
</p>

<p>
  <b>Kennung:</b>
  <%=h @node.node_id %>
</p>
<p>
  <b>Rev:</b>
  <%=h @node.rev %>
</p>

<p>
  <b>Benutzer:</b>
  <%=h @node.clients_count %>
</p>

<p>
  <b>Nachbarn:</b>
  <%=h @node.neighboors_count %>
</p>
<p>
  <b>geographische Position:</b>
  <a href='/maps/index?zoom=15&lat=<%=h @node.lat %>&lon=<%=h @node.lon %>'>auf Karte anzeigen</a>
</p>
<p>
  <b>Crew:</b>
     <%= link_to @node.crew.name, @node.crew %>
</p>
<p>
  <b>Landesverband:</b>
    <%= link_to  @node.landesverband.name, @node.landesverband %>
</p>
<p>
  <b>Partei:</b>
     <%= link_to @node.partei.name, @node.partei %>
</p>
<p>
  <b>Punkte:</b>
  <%=h @node.score_count %>
</p>


<%= link_to 'Bearbeiten', edit_node_path(@node) %> |
<%= link_to 'Zurück', nodes_path %>
