<%= javascript_include_tag 'prototype' %>  <%= map_layers_includes %>

<h3>Geräteansicht</h3>
<table>
<tr>
<td align='right'> <b>Name:</b></td>
<td>  <%=h @node.name %></td>
</tr><% if @node.user %><tr>
<td align='right'> <b>Betreiber:</b></td>
<td>  <%=h link_to @node.user.username, @node.user %></td>
</tr><% end %><tr><td align='right'><b>Bilder</b></td><td>
<% for photo in @node.photos %>
  <%= image_tag photo.data.url(:thumb), :alt => "" %>
<% end %></td>
</tr><tr>
<td align='right'>   <b>Version:</b></td>
<td>  <%=h @node.version %></td>
</tr><tr>
<td align='right'> <b>Benutzer:</b></td>
<td> 
<%= image_tag "/clients/#{@node.id}.png" %>  </td>
</tr><tr>
<td align='right'>  <b>Nachbarn:</b></td>
<td> <%= image_tag "/neighbors/#{@node.id}.png" %>  </td>
</tr><tr>
<td align='right'>   <b>geographische Position:</b></td>
<td>  <div id="map" style="width: 300px; height: 200px;"></div>

  <%= @map.to_html %>

<a href='/maps/index?zoom=15&lat=<%=h @node.lat %>&lon=<%=h @node.lon %>'>auf Karte anzeigen</a></td>
</tr><tr>
<td align='right'>   <b>Punkte:</b></td>
<td>  <%=h @node.score_count %></td>
</tr></table>


<%= link_to 'Zur Übersicht', nodes_path %>
<% permitted_to? :edit, :nodes do %>
<%= link_to 'Bearbeiten', edit_node_path %>
<% end %>
