<% form_for(@partei) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :beschreibung %><br />
    <%= f.text_area :decription %>
  </p>
  <p>
    <%= f.label :homepage %><br />
    <%= f.text_field :homepage %>
  </p>
  <p>
    <%= f.submit "Speichern" %>
  </p>
<% end %>
