<p>
  <b>Name:</b>
  <%=h @partei.name %>
</p>

<p>
  <b>Decription:</b>
  <%=h @partei.decription %>
</p>

<p>
  <b>Homepage:</b>
  <%= link_to @partei.homepage, @partei.homepage %>
</p>
<p>
  <b>Landesverbände:</b>
  <% for lv in @partei.landesverbands %>
  <%= link_to lv.name, lv %>
  <% end %>
</p>


<%= link_to 'Bearbeiten', edit_partei_path(@partei) %> |
<%= link_to 'Zurück', parteis_path %>
