<h1>Fehlerberichte anzeigen</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Version</th>
    <th>Hardware</th>
    <th>eingereicht am</th>
  </tr>

<% @bugreports.each do |bugreport| %>
  <tr>
    <td><%=h bugreport.name %></td>
    <td><%=h bugreport.version %></td>
    <td><%=h bugreport.hardware.name %></td>
    <td><%=h bugreport.created_at %></td>
    <td><%= link_to 'Anzeigen', bugreport %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Fehlerbericht erstellen', new_bugreport_path %>
