<h1>Fehlerbericht anlegen</h1>

<% form_for(@bugreport) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :version %><br />
    <%= f.collection_select :version, Node.find(:all, :select => 'rev', :group => 'rev', :order => 'rev DESC'), :rev, :rev %>
  </p>
    <p>
    <%= f.label 'Bitte w채hlen Sie Ihr Ger채t aus' %><br />
    <%= f.collection_select :hardware_id, Hardware.all, :id, :bezeichnung %>
  </p>
  <p>
    <%= f.label 'Bitte beschreiben Sie ihr Problem genauer' %><br />
    <%= f.text_area :beschreibung %>
  </p>
  <p>
    <%= f.label 'Konfiguration (automatisiert ausgef체llt)' %><br />
    <%= f.text_area :uci, :disabled => 'disabled' %>
  </p>
  <p>
    <%= f.submit 'Fehlerbericht erstellen' %>
  </p>
<% end %>

<%= link_to 'Zur체ck', bugreports_path %>
