<p>
  <b>Name:</b>
  <%=h @bugreport.name %>
</p>

<p>
  <b>Version:</b>
  <%=h @bugreport.version %>
</p>

<p>
  <b>Hardware:</b>
  <%=h @bugreport.device.name %>
</p>

<p>
  <b>Beschreibung:</b>
  <%=h @bugreport.beschreibung %>
</p>


<%= link_to 'Zurück', bugreports_path %>
