<h1>Landesverbände anzeigen</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Beschreibung</th>
    <th>Homepage</th>
    <th>Partei</th>
  </tr>

<% for landesverband in @landesverbands %>
  <tr>
    <td><%=h landesverband.name %></td>
    <td><%=h landesverband.decription %></td>
    <td><%= link_to landesverband.homepage, landesverband.homepage %></td>
    <td><%= link_to landesverband.partei.name, landesverband.partei %></td>
    <td><%= link_to 'Anzeigen', landesverband %></td>
    <td><%= link_to 'Bearbeiten', edit_landesverband_path(landesverband) %></td>
    <td><%= link_to 'Löschen', landesverband, :confirm => 'Bist du sicher?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neuen Landesverband anlegen', new_landesverband_path %>
