<h1>Listing landesverbands</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Decription</th>
    <th>Homepage</th>
    <th>Partei</th>
  </tr>

<% for landesverband in @landesverbands %>
  <tr>
    <td><%=h landesverband.name %></td>
    <td><%=h landesverband.decription %></td>
    <td><%=h landesverband.homepage %></td>
    <td><%=h landesverband.partei %></td>
    <td><%= link_to 'Show', landesverband %></td>
    <td><%= link_to 'Edit', edit_landesverband_path(landesverband) %></td>
    <td><%= link_to 'Destroy', landesverband, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New landesverband', new_landesverband_path %>
