<p>
  <b>Name:</b>
  <%=h @landesverband.name %>
</p>

<p>
  <b>Beschreibung:</b>
  <%=h @landesverband.decription %>
</p>

<p>
  <b>Homepage:</b>
  <%= link_to @landesverband.homepage, @landesverband.homepage %>
</p>

<p>
  <b>Partei:</b>
  <%= link_to @landesverband.partei.name, @landesverband.partei %>
</p>
<p>
  <b>Crews:</b>
  <% for crew in @landesverband.crews %>
  <%= link_to crew.name, crew %>
  <% end %>
</p>


<%= link_to 'Edit', edit_landesverband_path(@landesverband) %> |
<%= link_to 'Back', landesverbands_path %>
