<h3>Hardware anzeigen</h3>

<table width='60%'>
  <tr>
    <th>Name</th>
    <th>Hersteller</th>
  </tr>

<% @hardwares.each do |hardware| %>
  <tr>
    <td><%= link_to hardware.name, hardware.link %></td>
    <td><%=h hardware.hersteller %></td>
    <td><%= link_to 'Anzeigen', hardware %></td>
    <td><%= link_to 'Bearbeiten', edit_hardware_path(hardware) %></td>
    <td><%= link_to 'Löschen', hardware, :confirm => 'Bist du sicher?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neue Hardware anlegen', new_hardware_path %>
