<p>
  <b>Name:</b>
  <%=h @location.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @location.description %>
</p>

<p>
  <b>Plz:</b>
  <%=h @location.plz %>
</p>

<p>
  <b>Province:</b>
  <%=h @location.province %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>